@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
*body {
    margin: 0;
    padding: 0%;
}

body {
    font-family: 'Share Tech Mono', monospace;
}

#banner {
    height: 100vh;
    background: url('https://images.pexels.com/photos/266004/pexels-photo-266004.jpeg?cs=srgb&dl=adorable-baby-beautiful-266004.jpg&fm=jpg') no-repeat;
    background-size: cover;
}

#banner h1 {
    font-family: 'Reenie Beanie', cursive;
    padding-top: 170px;
    font-size: 120px;
}

#tools-icon {
    background-color: lightslategray;
}

#tools-icon img {
    width: 128px;
    height: 128px;
}